footer{
	position: relative;
	padding-top:30px;
	padding-bottom: 100px;
	background: white;
}

footer > .center{
	display: flex;
	flex-wrap: wrap;
}

.col-footer{
	width: 20%;
}

.col-footer h2{
    color: #232931;font-size: 13px;
    font-weight: normal;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.col-footer a{color: #b4b4b4;
    font-size: 13px;
    display: block;
    margin-top: 16px;
    text-decoration: none;
}