.w50{
    
    float: left;
    width: 48%;
    padding: 100px 9px;
}

section.sobre-equipe{
	padding: 40px 0;
}

section.sobre-equipe img{max-width: 100%;}
.equipe-sobre-texto{
    float: left;
    width: 48%;
    padding: 0 9px;
}

.equipe-sobre-texto h2{
	font-size:45px;
	color: #202020;
	padding:0 20px;
}
.equipe-sobre-texto p{
	font-size: 16px;
	line-height: 32px;
	color:#202020;
	padding:0 20px;
}

section.sobre-imagens{
	padding: 100px 0;
	background-color:#f4f9fd;
}

.sobre-imagens > .center{
	display: flex;
	flex-wrap: wrap;
}

.sobre-imagens img{max-width: 100%;}

.sobre-imagens .img-sobre{padding:0 30px;width: 19%;}

@media screen and (max-width: 768px){
    .w50{width: 100%;}
    .sobre-imagens .img-sobre{padding:0 30px;width: 100%;text-align: center;margin-bottom: 20px;}
    .equipe-sobre-texto{
        text-align: center;
        width: 100%;
    }
	section.sobre-equipe img{
        margin-top: 20px;
        width: 100%;
        position: relative;
        top: 10px;
    }
}